In [1]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_csv('D:\\resources\\Digital Academy\\Python\\Advanced\\Machine Learning\\h1b_kaggle.csv',encoding='iso-8859-1',index_col=0)

C:\Users\mnmureithi\AppData\Local\Continuum\anaconda\lib\site-packages\IPython\core\interactiveshell.py:3020: DtypeWarning: Columns (6,7,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
df.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067,20£1*6,"ANN ARBOR, MICHIGAN",-83.7430378,42.2808256
2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES232,CHIEF OPERATING OFFICER,Y,242674,20£1*6,"PLANO, TEXAS",-96.6988856,33.0198431
3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES232,CHIEF PROCESS OFFICER,Y,193066,20£1*6,"JERSEY CITY, NEW JERSEY",-74.0776417,40.7281575
4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES232,"REGIONAL PRESIDEN, AMERICAS",Y,220314,20£1*6,"DENVER, COLORADO",-104.990251,39.7392358
5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES232,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,20£1*6,"ST. LOUIS, MISSOURI",-90.1994042,38.6270025

In [4]:
df.shape

(3002458, 10)

In [5]:
df.isna().sum()

CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                      13
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 3002458 entries, 1 to 3002458
Data columns (total 10 columns):
CASE_STATUS           object
EMPLOYER_NAME         object
SOC_NAME              object
JOB_TITLE             object
FULL_TIME_POSITION    object
PREVAILING_WAGE       object
YEAR                  object
WORKSITE              object
lon                   object
lat                   object
dtypes: object(10)
memory usage: 252.0+ MB

In [7]:
df.describe()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE,lon,lat
count,3002445,3002399,2984724,3002415,3002443,3002373,3002445,3002458,2895216,2895216
unique,8,236120,2141,287770,3,64665,9,18624,6042,4813
top,CERTIFIED,INFOSYS LIMITED,Computer Systems Analysts,PROGRAMMER ANALYST,Y,60000,20£1*6,"NEW YORK, NEW YORK",-74.0059413,40.7127837
freq,2615623,130592,291170,249038,2576111,7686,647803,191719,150401,118209

In [8]:
df.columns

Index(['CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon',
       'lat'],
      dtype='object')

In [9]:
df['CASE_STATUS'].value_counts()

CERTIFIED                                             2615623
CERTIFIED-WITHDRAWN                                    201708
DENIED                                                  94346
WITHDRAWN                                               89799
CERTIFIED-+--WITHDRAWN                                    951
PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED         15
REJECTED                                                    2
INVALIDATED                                                 1
Name: CASE_STATUS, dtype: int64

In [10]:
df['EMPLOYER_NAME'].unique()

array(['UNIVERSITY OF MICHIGAN', 'GOODMAN NETWORKS, INC.',
       'PORTS AMERICA GROUP, INC.', ...,
       'ELEGANT SUPER STORES CORPORATE CORP (HDQTRS)',
       'TELSEY CAPITAL GROUP LLC', 'J. LOGAN INTERIORS'], dtype=object)

In [11]:
df['YEAR'].unique()

array(['20£1*6', '2015', 2015, 2014, 2013, 2012, 2011, '2011',
       'Twenty eleven', nan], dtype=object)

In [12]:
df['YEAR']=df['YEAR'].astype('str')
df['YEAR'].unique()

array(['20£1*6', '2015', '2014', '2013', '2012', '2011', 'Twenty eleven',
       '2011.0', 'nan'], dtype=object)

In [13]:
df['YEAR'].isna().sum()
df['YEAR']=df['YEAR'].dropna(axis=0)
#df=df[np.isfinite(df['YEAR'])]

In [14]:
df.isna().sum()

CASE_STATUS               13
EMPLOYER_NAME             59
SOC_NAME               17734
JOB_TITLE                 43
FULL_TIME_POSITION        15
PREVAILING_WAGE           85
YEAR                       0
WORKSITE                   0
lon                   107242
lat                   107242
dtype: int64

In [15]:
#df['YEAR']=df['YEAR'].replace({'20£1*6':2016,'Twenty eleven':2011,'2011':2011,'2015':2015})
df['YEAR']=df['YEAR'].replace({'20£1*6':'2016','Twenty eleven':'2011','2011':'2011','2015':'2015','2011.0':'2011'})

In [16]:
df['YEAR'].unique()
#df.dtypes

array(['2016', '2015', '2014', '2013', '2012', '2011', 'nan'],
      dtype=object)

In [17]:
df['YEAR']=pd.to_datetime(df['YEAR'],format='%Y')

In [18]:
df.dtypes

CASE_STATUS                   object
EMPLOYER_NAME                 object
SOC_NAME                      object
JOB_TITLE                     object
FULL_TIME_POSITION            object
PREVAILING_WAGE               object
YEAR                  datetime64[ns]
WORKSITE                      object
lon                           object
lat                           object
dtype: object

In [19]:
df['YEAR']=pd.DatetimeIndex(df['YEAR']).year
#df['YEAR']=df['YEAR'].apply(lambda YEAR:YEAR.year)
df['YEAR']

1          2016.0
2          2016.0
3          2016.0
4          2016.0
5          2016.0
6          2016.0
7          2016.0
8          2016.0
9          2016.0
10         2016.0
11         2016.0
12         2016.0
13         2016.0
14         2016.0
15         2016.0
16         2016.0
17         2016.0
18         2016.0
19         2016.0
20         2016.0
21         2016.0
22         2016.0
23         2016.0
24         2016.0
25         2016.0
26         2016.0
27         2016.0
28         2016.0
29         2016.0
30         2016.0
            ...
3002429    2011.0
3002430    2011.0
3002431    2011.0
3002432    2011.0
3002433    2011.0
3002434    2011.0
3002435    2011.0
3002436    2011.0
3002437    2011.0
3002438    2011.0
3002439    2011.0
3002440    2011.0
3002441    2011.0
3002442    2011.0
3002443    2011.0
3002444    2011.0
3002445    2011.0
3002446       NaN
3002447       NaN
3002448       NaN
3002449       NaN
3002450       NaN
3002451       NaN
3002452       NaN
3002453       NaN
3002454       NaN
3002455       NaN
3002456       NaN
3002457       NaN
3002458       NaN
Name: YEAR, Length: 3002458, dtype: float64

In [20]:
df.columns

Index(['CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE', 'lon',
       'lat'],
      dtype='object')

In [21]:
df.drop(['lon','lat'],axis=1,inplace=True)

In [22]:
#df.replace(np.nan,df.mode(axis=0),inplace=True)

In [23]:
df.isna().sum()

CASE_STATUS              13
EMPLOYER_NAME            59
SOC_NAME              17734
JOB_TITLE                43
FULL_TIME_POSITION       15
PREVAILING_WAGE          85
YEAR                     13
WORKSITE                  0
dtype: int64

In [24]:
df.head()

,CASE_STATUS,EMPLOYER_NAME,SOC_NAME,JOB_TITLE,FULL_TIME_POSITION,PREVAILING_WAGE,YEAR,WORKSITE
1,CERTIFIED-WITHDRAWN,UNIVERSITY OF MICHIGAN,BIOCHEMISTS AND BIOPHYSICISTS,POSTDOCTORAL RESEARCH FELLOW,N,36067,2016.0,"ANN ARBOR, MICHIGAN"
2,CERTIFIED-WITHDRAWN,"GOODMAN NETWORKS, INC.",CHIEF EXECUTIVES232,CHIEF OPERATING OFFICER,Y,242674,2016.0,"PLANO, TEXAS"
3,CERTIFIED-WITHDRAWN,"PORTS AMERICA GROUP, INC.",CHIEF EXECUTIVES232,CHIEF PROCESS OFFICER,Y,193066,2016.0,"JERSEY CITY, NEW JERSEY"
4,CERTIFIED-WITHDRAWN,"GATES CORPORATION, A WHOLLY-OWNED SUBSIDIARY O...",CHIEF EXECUTIVES232,"REGIONAL PRESIDEN, AMERICAS",Y,220314,2016.0,"DENVER, COLORADO"
5,WITHDRAWN,PEABODY INVESTMENTS CORP.,CHIEF EXECUTIVES232,PRESIDENT MONGOLIA AND INDIA,Y,157518.4,2016.0,"ST. LOUIS, MISSOURI"

In [25]:
df['PREVAILING_WAGE'].value_counts()
df.dtypes

CASE_STATUS            object
EMPLOYER_NAME          object
SOC_NAME               object
JOB_TITLE              object
FULL_TIME_POSITION     object
PREVAILING_WAGE        object
YEAR                  float64
WORKSITE               object
dtype: object

In [26]:
#df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].replace({'120£1*63':'120163','420£1*6':'42016','20£1*60':'20160'})
#df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].astype(float)
#df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].str.contains('£').replace('')
#df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].str.contains('*').replace('')
#df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].str.strip("*").str.strip("£").astype(float)
#df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].astype(float)

In [27]:
df['SOC_NAME'].value_counts()

Computer Systems Analysts                             291170
SOFTWARE DEVELOPERS, APPLICATIONS                     221783
COMPUTER SYSTEMS ANALYSTS                             215353
Computer Programmers                                  201540
Software Developers, Applications                     192933
COMPUTER PROGRAMMERS                                  164477
COMPUTER OCCUPATIONS, ALL OTHER                       108555
Computer Occupations, All Other                        69315
Software Developers, Systems Software                  44500
SOFTWARE DEVELOPERS, SYSTEMS SOFTWARE                  39356
Management Analysts                                    38755
Financial Analysts                                     34141
Computer Software Engineers, Applications              33325
Accountants and Auditors                               30708
MANAGEMENT ANALYSTS                                    28117
Mechanical Engineers                                   26219
Computer Occupations, All Other*                       25628
Computer Pr0grammers                                   25034
Electronics Engineers, Except Computer                 23323
Electrical Engineers                                   22162
Market Research Analysts and Marketing Specialists     22158
ACCOUNTANTS AND AUDITORS                               22114
Physicians and Surgeons, All Other                     22010
Database Administrators                                21937
NETWORK AND COMPUTER SYSTEMS ADMINISTRATORS            21642
FINANCIAL ANALYSTS                                     19399
Operations Research Analysts                           19171
Network and Computer Systems Administrators            18445
MECHANICAL ENGINEERS                                   18017
COMPUTER SYSTEMS ANALYST                               17426
                                                       ...
MECHANICAL ENGINEER / PROGRAM MANAGER                      1
HEALTH SPECIALITY TEACHER                                  1
DESIGNER, ALL OTHER                                        1
SEWING MACHINE OPERATORS                                   1
DENTISTS                                                   1
ENVIRONMENTAL SCIENTIST                                    1
SALES AGENTS, SECURITIES AND COMMODITIES                   1
Dietitians and Nutritionists, R&D (ACWIA Only)             1
WIND ENERGY ENGINEERS                                      1
ELEMENTARY SCHOOL TEACHERS, EXCEPT SPEC EDUC               1
COMPUTER OCCUPATION, ALL OTHERS                            1
COMPUTE PROGRAMMERS                                        1
MAINTENANCE AND REPAIR WORKERS, GENERAL                    1
ACUPUNCTURISTS                                             1
Team Assemblers                                            1
COUNTER ATTENDANTS, CAFETERIA, FOOD CONCESSION,            1
BARBERS                                                    1
SHIP ENGINEERS                                             1
MEETING, CONVENTION AND EVENTS PLANNERS                    1
POWER DISTRIBUTORS AND DISPATCHERS                         1
FOREIGN LANGUAGE LITERATURE TEACHERS, POSTSECOND           1
MICROSYSTEMS ENGINEERS                                     1
CHEMISTRY TEACHERS, POSTECONDARY                           1
COMPUTER Pr0grammers, R&AMP;D                              1
Range Managers                                             1
PHYSICIANS &AMP; SURGEONS, ALL OTHER                       1
TUTORS                                                     1
BIOLOGICAL SCIENCE TEACHERS                                1
PATHOLOGISTS                                               1
SOFTARE DEVELOPERS, APPLICATIONS                           1
Name: SOC_NAME, Length: 2141, dtype: int64

In [28]:
df['EMPLOYER_NAME'].unique()

array(['UNIVERSITY OF MICHIGAN', 'GOODMAN NETWORKS, INC.',
       'PORTS AMERICA GROUP, INC.', ...,
       'ELEGANT SUPER STORES CORPORATE CORP (HDQTRS)',
       'TELSEY CAPITAL GROUP LLC', 'J. LOGAN INTERIORS'], dtype=object)

In [29]:
df['CASE_STATUS'].value_counts()

CERTIFIED                                             2615623
CERTIFIED-WITHDRAWN                                    201708
DENIED                                                  94346
WITHDRAWN                                               89799
CERTIFIED-+--WITHDRAWN                                    951
PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED         15
REJECTED                                                    2
INVALIDATED                                                 1
Name: CASE_STATUS, dtype: int64

In [30]:
import warnings
warnings.filterwarnings('ignore')
df.CASE_STATUS[df['CASE_STATUS']=='REJECTED']='DENIED'
df.CASE_STATUS[df['CASE_STATUS']=='INVALIDATED']='DENIED'
df.CASE_STATUS[df['CASE_STATUS']=='PENDING QUALITY AND COMPLIANCE REVIEW - UNASSIGNED']='DENIED'
df.CASE_STATUS[df['CASE_STATUS']=='CERTIFIED-+--WITHDRAWN'] = 'CERTIFIED'
df.CASE_STATUS[df['CASE_STATUS']=='CERTIFIED-WITHDRAWN'] = 'CERTIFIED'

In [31]:
df.CASE_STATUS.value_counts()

CERTIFIED    2818282
DENIED         94364
WITHDRAWN      89799
Name: CASE_STATUS, dtype: int64

In [32]:
df.columns

Index(['CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE'],
      dtype='object')

In [33]:
df['EMPLOYER_NAME'].describe()

count             3002399
unique             236120
top       INFOSYS LIMITED
freq               130592
Name: EMPLOYER_NAME, dtype: object

In [34]:
df=df.drop(df[df['CASE_STATUS']=='WITHDRAWN'].index)

In [35]:
df['CASE_STATUS'].value_counts()

CERTIFIED    2818282
DENIED         94364
Name: CASE_STATUS, dtype: int64

In [36]:
df=df[df['CASE_STATUS'].notnull()]
df['CASE_STATUS'].value_counts()

CERTIFIED    2818282
DENIED         94364
Name: CASE_STATUS, dtype: int64

In [37]:
df.isna().sum()

CASE_STATUS               0
EMPLOYER_NAME            18
SOC_NAME              17073
JOB_TITLE                10
FULL_TIME_POSITION        1
PREVAILING_WAGE          53
YEAR                      0
WORKSITE                  0
dtype: int64

In [38]:
#df['EMPLOYER_NAME']=df['EMPLOYER_NAME'].fillna(df['EMPLOYER_NAME'].mode()[0])
df['EMPLOYER_NAME'] = df['EMPLOYER_NAME'].fillna(df['EMPLOYER_NAME'].mode()[0])

In [39]:
df['EMPLOYER_NAME'].mode()[0]#Mode with categorical variables

'INFOSYS LIMITED'

In [40]:
assert pd.notnull(df['EMPLOYER_NAME']).all().all()

In [41]:
df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].str.replace("\*",'').str.replace("\£",'').str.replace('3Twenty eleven','32011')

In [42]:
df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].astype(float)

In [43]:
df['PREVAILING_WAGE'].isnull().sum()

443978

In [44]:
#Replacing the zeros with the median
#df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].replace(0,df['PREVAILING_WAGE'].median())
#df['PREVAILING_WAGE']=df['PREVAILING_WAGE'].replace(df['PREVAILING_WAGE'].isna(),df['PREVAILING_WAGE'].median())

In [45]:
df['PREVAILING_WAGE'][df['PREVAILING_WAGE']==0].value_counts()

0.0    25
Name: PREVAILING_WAGE, dtype: int64

In [46]:
#prints the 98th percentile ignoring the nulls
print(np.nanpercentile(df['PREVAILING_WAGE'],98))

142438.0

In [47]:
print(np.nanpercentile(df['PREVAILING_WAGE'],2))

33384.0

In [48]:
## replacing min and max with 2 and 98 percentile
df.loc[df.PREVAILING_WAGE < 33384, 'PREVAILING_WAGE']= 33384
df.loc[df['PREVAILING_WAGE'] > 142438, 'PREVAILING_WAGE']= 142438
df.PREVAILING_WAGE.fillna(df.PREVAILING_WAGE.mean(), inplace = True)

In [49]:
df.replace(np.nan,df.mode(axis=0),inplace=True)

In [50]:
x=df['CASE_STATUS']=='CERTIFIED'
y=df['FULL_TIME_POSITION']=='Y'
print(len(df[x])/len(df))
print(len(df[y])/len(df))

0.9676019674206889
0.8587040786968275

# Feature Creation

In [51]:
df['NEW_EMPLOYER']=np.nan
df.shape

(2912646, 9)

In [52]:
warnings.filterwarnings('ignore')
df['EMPLOYER_NAME']=df['EMPLOYER_NAME'].str.lower()

In [53]:
#df[df['EMPLOYER_NAME'].str.contains('university')].sum()

In [54]:
df.NEW_EMPLOYER[df['EMPLOYER_NAME'].str.contains('university')]='university'

In [55]:
df['NEW_EMPLOYER']=df.NEW_EMPLOYER.replace(np.nan,'non university',regex=True)

In [56]:
warnings.filterwarnings('ignore')
df['OCCUPATION']=np.nan
df['SOC_NAME']=df['SOC_NAME'].str.lower()
df.OCCUPATION[df['SOC_NAME'].str.contains('computer','programmer')] = 'computer occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('software','web developer')] = 'computer occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('database')] = 'computer occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('math','statistic')] = 'Mathematical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('predictive model','stats')] = 'Mathematical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('teacher','linguist')] = 'Education Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('professor','Teach')] = 'Education Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('school principal')] = 'Education Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('medical','doctor')] = 'Medical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('physician','dentist')] = 'Medical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('Health','Physical Therapists')] = 'Medical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('surgeon','nurse')] = 'Medical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('psychiatr')] = 'Medical Occupations'
df.OCCUPATION[df['SOC_NAME'].str.contains('chemist','physicist')] = 'Advance Sciences'
df.OCCUPATION[df['SOC_NAME'].str.contains('biology','scientist')] = 'Advance Sciences'
df.OCCUPATION[df['SOC_NAME'].str.contains('biologi','clinical research')] = 'Advance Sciences'
df.OCCUPATION[df['SOC_NAME'].str.contains('public relation','manage')] = 'Management Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('management','operation')] = 'Management Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('chief','plan')] = 'Management Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('executive')] = 'Management Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('advertis','marketing')] = 'Marketing Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('promotion','market research')] = 'Marketing Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('business','business analyst')] = 'Business Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('business systems analyst')] = 'Business Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('accountant','finance')] = 'Financial Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('financial')] = 'Financial Occupation'
df.OCCUPATION[df['SOC_NAME'].str.contains('engineer','architect')] = 'Architecture & Engineering'
df.OCCUPATION[df['SOC_NAME'].str.contains('surveyor','carto')] = 'Architecture & Engineering'
df.OCCUPATION[df['SOC_NAME'].str.contains('technician','drafter')] = 'Architecture & Engineering'
df.OCCUPATION[df['SOC_NAME'].str.contains('information security','information tech')] = 'Architecture & Engineering'
df['OCCUPATION']= df.OCCUPATION.replace(np.nan, 'Others', regex=True)

In [57]:
df.WORKSITE.value_counts()

NEW YORK, NEW YORK                       185817
HOUSTON, TEXAS                            81205
SAN FRANCISCO, CALIFORNIA                 61041
ATLANTA, GEORGIA                          50675
CHICAGO, ILLINOIS                         49975
SAN JOSE, CALIFORNIA                      48786
SUNNYVALE, CALIFORNIA                     34032
BOSTON, MASSACHUSETTS                     30657
DALLAS, TEXAS                             30640
REDMOND, WASHINGTON                       30057
CHARLOTTE, NORTH CAROLINA                 29627
MOUNTAIN VIEW, CALIFORNIA                 28709
IRVING, TEXAS                             28495
SAN DIEGO, CALIFORNIA                     27827
SANTA CLARA, CALIFORNIA                   26959
JERSEY CITY, NEW JERSEY                   26365
AUSTIN, TEXAS                             26095
SEATTLE, WASHINGTON                       26042
LOS ANGELES, CALIFORNIA                   25694
PHILADELPHIA, PENNSYLVANIA                23747
PHOENIX, ARIZONA                          20945
BELLEVUE, WASHINGTON                      20738
PLANO, TEXAS                              20218
WASHINGTON, DISTRICT OF COLUMBIA          19748
ALPHARETTA, GEORGIA                       17796
IRVINE, CALIFORNIA                        16499
COLUMBUS, OHIO                            16126
MIAMI, FLORIDA                            16106
PALO ALTO, CALIFORNIA                     16095
TAMPA, FLORIDA                            15226
                                          ...
HOPE, NEW JERSEY                              1
COLD SPRING, KENTUCKY                         1
MT LAUREL, UTAH                               1
BARNESVILLE, WEST VIRGINIA                    1
ADAMS CENTER, NEW YORK                        1
CHESTER, CALIFORNIA                           1
MEQUON, NEW JERSEY                            1
HILLSVILLE, VIRGINIA                          1
1100 CIRCLE 75 PARKWAY, GEORGIA               1
WESTFIELD, ILLINOIS                           1
HOUSTON, DELAWARE                             1
FOREST CITY, PENNSYLVANIA                     1
CHUBBUCK, IDAHO                               1
OMAHA, PENNSYLVANIA                           1
NOKOMIS, ILLINOIS                             1
11TH FLOOR, NEW YORK                          1
GIRARD, ILLINOIS                              1
ARDEN, MINNESOTA                              1
EMMAUS, OHIO                                  1
JACKSON, SOUTH CAROLINA                       1
SOUTHGATE, CALIFORNIA                         1
PORTLAND OR, OREGON                           1
PITTSBURGH, ILLINOIS                          1
MANITO, ILLINOIS                              1
VALDEZ, ALASKA                                1
CUMMING, FLORIDA                              1
MARLBOROUGH, MAINE                            1
FALMOUTH, VIRGINIA                            1
110 FRANKLIN ROAD SOUTHEAST, VIRGINIA         1
QUINCY, OHIO                                  1
Name: WORKSITE, Length: 18178, dtype: int64

In [58]:
## Splitting city and state and capturing state in another variable
df['state'] = df.WORKSITE.str.split('\s+').str[-1]

In [59]:
df['state'].head()

1    MICHIGAN
2       TEXAS
3      JERSEY
4    COLORADO
6     FLORIDA
Name: state, dtype: object

In [60]:
print(df.head())

  CASE_STATUS                                      EMPLOYER_NAME  \
1   CERTIFIED                             university of michigan
2   CERTIFIED                             goodman networks, inc.
3   CERTIFIED                          ports america group, inc.
4   CERTIFIED  gates corporation, a wholly-owned subsidiary o...
6   CERTIFIED                            burger king corporation

                        SOC_NAME  \
1  biochemists and biophysicists
2            chief executives232
3            chief executives232
4            chief executives232
6            chief executives232

                                           JOB_TITLE FULL_TIME_POSITION  \
1                       POSTDOCTORAL RESEARCH FELLOW                  N
2                            CHIEF OPERATING OFFICER                  Y
3                              CHIEF PROCESS OFFICER                  Y
4                        REGIONAL PRESIDEN, AMERICAS                  Y
6  EXECUTIVE V P, GLOBAL DEVELOPMENT AND PRESIDEN...                  Y

   PREVAILING_WAGE    YEAR                 WORKSITE    NEW_EMPLOYER  \
1          36067.0  2016.0      ANN ARBOR, MICHIGAN      university
2         142438.0  2016.0             PLANO, TEXAS  non university
3         142438.0  2016.0  JERSEY CITY, NEW JERSEY  non university
4         142438.0  2016.0         DENVER, COLORADO  non university
6         142438.0  2016.0           MIAMI, FLORIDA  non university

              OCCUPATION     state
1       Advance Sciences  MICHIGAN
2  Management Occupation     TEXAS
3  Management Occupation    JERSEY
4  Management Occupation  COLORADO
6  Management Occupation   FLORIDA

## Machine Learning

In [61]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.linear_model import LogisticRegression
from sklearn import metrics
import xgboost as xgb
from sklearn.metrics import mean_squared_error
print('Done importing')

Done importing

In [62]:
#df=pd.get_dummies(df,columns=['CASE_STATUS'])
df["CASE_STATUS"]=df["CASE_STATUS"].map({'CERTIFIED':0, 'DENIED':1})

In [63]:
df.columns

Index(['CASE_STATUS', 'EMPLOYER_NAME', 'SOC_NAME', 'JOB_TITLE',
       'FULL_TIME_POSITION', 'PREVAILING_WAGE', 'YEAR', 'WORKSITE',
       'NEW_EMPLOYER', 'OCCUPATION', 'state'],
      dtype='object')

In [64]:
test1=pd.Series(df['JOB_TITLE'].ravel()).unique()#Return the flattened underlying data as an ndarray.
test1

array(['POSTDOCTORAL RESEARCH FELLOW', 'CHIEF OPERATING OFFICER',
       'CHIEF PROCESS OFFICER', ..., 'CHEMISTRY  - SCIENCE TEACHER',
       'SALES AND LOGISTIC MANAGER', 'APPRAISERS, REAL ESTATE'],
      dtype=object)

In [65]:
df=df.drop(columns=['EMPLOYER_NAME','SOC_NAME','JOB_TITLE','WORKSITE'])

In [66]:
data=df.copy()

In [67]:
data[['CASE_STATUS','FULL_TIME_POSITION', 'YEAR','NEW_EMPLOYER','OCCUPATION','state']] = data[['CASE_STATUS','FULL_TIME_POSITION', 'YEAR','NEW_EMPLOYER','OCCUPATION','state']].apply(lambda x:x.astype('category'))

In [68]:
data.info()
df=df.drop(columns=['state', 'YEAR'])

<class 'pandas.core.frame.DataFrame'>
Index: 2912646 entries, 1 to 3002393
Data columns (total 7 columns):
CASE_STATUS           category
FULL_TIME_POSITION    category
PREVAILING_WAGE       float64
YEAR                  category
NEW_EMPLOYER          category
OCCUPATION            category
state                 category
dtypes: category(6), float64(1)
memory usage: 61.1+ MB

In [69]:
df=pd.get_dummies(df,columns=['FULL_TIME_POSITION','NEW_EMPLOYER','OCCUPATION'])

In [70]:
x=df.drop('CASE_STATUS', axis=1)
y=df.CASE_STATUS

In [71]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=0.4,random_state=5)

In [72]:
lr=LogisticRegression()
knn=
gb=GradientBoostingClassifier(n_estimators=60)
gbm=xgb.XGBClassifier()

## XGBoost

In [73]:
gbm.fit(x_train,y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [74]:
xgpreds = gbm.predict(x_test)

In [75]:
rmse = np.sqrt(mean_squared_error(y_test, xgpreds))
print("RMSE: %f" % (rmse))

RMSE: 0.180338

In [ ]:
print(classification_report(y_test,xgpreds))

## Linear Regression

In [76]:
lr.fit(x_train,y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [77]:
lrpreds = lr.predict(x_test)

In [78]:
rmse = np.sqrt(mean_squared_error(y_test, lrpreds))
print("RMSE: %f" % (rmse))

RMSE: 0.175982

In [ ]:
print(classification_report(y_test,lrpreds))

## KNN

In [79]:
best_k=[]
for k in range (1,40):
    knn=KNeighborsClassifier(n_neighbors=k)
    knn.fit(x_train,y_train)
    predict_k=knn.predict(x_test)
    acc=accuracy_score(y_test, predict_k)
    best_k.append(acc)
    
plt.plot(range(1,40), best_k,ls='--',color='blue',marker='o',markerfacecolor='red',markersize=10)

KeyboardInterrupt:

In [ ]:
knn=KNeighborsClassifier(n_neighbors=7)
knn.fit(x_train,y_train)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, knnpreds))
print("RMSE: %f" % (rmse))

In [ ]:
print(classification_report(y_test,knnpreds))

## Gradient Boost

In [ ]:
gb.fit(x_train,y_train)

In [ ]:
gbpreds=gb.predict(x_test)

In [ ]:
rmse = np.sqrt(mean_squared_error(y_test, gbpreds))
print("RMSE: %f" % (rmse))

In [ ]:
print(classification_report(y_test,gbpreds))